body{
	background-color: #fafafa;
}
.fake-link{
	padding-top: 14px;
  padding-bottom: 15px;
}
.cover{
	height: 300px;
	background-size: cover;
	width:100%;
	background-position: center;
}
.card{
	background-color: white;
	padding:10px 15px;
	box-shadow: 0 5px 12px rgba(0,0,0,0.45);
	margin:10px 0px;
}
.center-col{
	display: inline-block;
	float: none !important;
	margin-right: -4px;
}
.right-space{
	margin-right: 1em;
}
.be-big{
	font-size: 3em;
}
.be-medium{
	font-size: 1.8em;
}
.no-margin{
	margin:0px;
}
.no-padding{
	padding:0px !important;
}
.big-padding{
	padding:35px;
}
.large-padding{
	padding:10px 15px;
}
img{
	max-width: 100%;
}
.plan-benefits{
	font-size: 1.4em;
	padding-left: 20px;
}

.plan-benefits li{
	list-style-type: none;
	position: relative;
	margin-top: 0.5em;
}

.plan-benefits li:before{
	content: '';
	position: absolute;
	left:-1em;
	top: 0.5em;

	width: 0.5em;
	height: 0.5em;
	background-color: currentColor;
	border-radius: 50%;
}
.plan-btn{
	padding: 10px 20px !important;
	font-size: 1.5em;
	margin: 1em auto;
}







