extends ../layout

block body
	.card.no-padding
		header.large-padding.teal.white-text
			h2 Completa tu pago
			p
				| Estás adquiriendo tu plan 
				strong.black-text= plan.name
		.large-padding
			form(action="/subscription" method="POST" id="paymentForm")
				input(type="hidden" name="planId" value="#{plan.id}")
				.errors.red.white-text.be-medium
				.form-group.top-space
					label Número de tarjeta
					input(type="text" id="card-number" placeholder="4242 4242 4242 4242" class="form-control" required="required")
				.row
					.col-xs-6.col-md-3
						.form-group
							label CVC
							input(type="text" id="cvc" maxlength="3" class="form-control" required="required")
					.col-xs-6.col-md-6
						.form-group
							.row
								.col-xs-6
									label Mes expiración
									select(id="expiration-month" class="form-control")
										-for(var i = 1;i<=12;i++)
											-var mes = (i < 10) ? "0"+i : i
											option(value=mes)=mes
								.col-xs-6
									label Año de expiración
									select(id="expiration-year" class="form-control")
										-for(var i = 2017;i<=2023;i++)
											option(value=i)=i
				.top-space
					button(type="button" id="submitBtn" class="plan-btn btn teal white-text") Adquirir plan










